<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Django | Control Statements </title>
</head>
<body>
    <h1>Example 1 : </h1>
    {% for name in names %}
        {{ name }}
    {% endfor %}

    <h1>Example 2 : Reverse </h1>
    {% for name in names reversed %}
        {{ name }}
    {% endfor %}

    <h1>Example 3 : ul tag </h1>
    <ul>
    {% for name in names %}
        <li>{{ name }}</li>
    {% endfor %}
    </ul>

    <h1>Example 4 : empty tag </h1>
    <ul>
    {% for name in namei %}
        <li>{{ name }}</li>
    {% empty %}
        <h3>List is empty...</h3>
    {% endfor %}
    </ul>

    <h1>Example 5 : forloop.counter </h1>
    {% for name in names %}
        {{ forloop.counter }} - {{ name }} <br>
    {% endfor %}

    <h1>Example 6 : forloop.counter0 </h1>
    {% for name in names %}
        {{ forloop.counter0 }} - {{ name }} <br>
    {% endfor %}

    <h1>Example 7 : forloop.revcounter0 </h1>
    {% for name in names %}
        {{ forloop.revcounter0 }} - {{ name }} <br>
    {% endfor %}

    <h1>Example 8 : forloop.revcounter </h1>
    {% for name in names %}
        {{ forloop.revcounter }} - {{ name }} <br>
    {% endfor %}

    <h1>Example 9 : forloop.first </h1>
    {% for name in names %}
        {{ forloop.first }} - {{ name }} <br>
    {% endfor %}

    <h1>Example 10 : forloop.last </h1>
    {% for name in names %}
        {{ forloop.last }} - {{ name }} <br>
    {% endfor %}

    <h1>Example 11 : how to access nested dictionary </h1>
    <h2>{{ nested_students }}</h2>
    <h2>{{ nested_students.st1 }}</h2>
    <h2>{{ nested_students.st2 }}</h2>
    <h2>{{ nested_students.st3 }}</h2>
    <h2>{{ nested_students.st4 }}</h2>
    <h2>{{ nested_students.st1.name }}</h2>
    <h2>{{ nested_students.st1.age }}</h2>
    <h2>{{ nested_students.st2.name }}</h2>
    <h2>{{ nested_students.st2.age }}</h2>
    <h2>{{ nested_students.st3.name }}</h2>
    <h2>{{ nested_students.st3.age }}</h2>
    <h2>{{ nested_students.st4.name }}</h2>
    <h2>{{ nested_students.st4.age }}</h2>

    <h1>Example 12 : nested forloop </h1>
    {% for key, value in nested_students.items %}
        {% for key, value in value.items %}
            <h2>{{ forloop.parentloop.counter}} - {{ key | capfirst }} : {{ value }}</h2>
        {% endfor %}
        <hr>
    {% endfor %}
</body>
</html>