<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Django Form | Student Registration</title>
</head>
<body>
    <h1>Simple Form</h1>
    <form action="" method="get">
        {{form}}
        <input type="submit" value="Submit">
    </form>
    <hr>
    <h1>Form using form.as_table</h1>
    <form action="" method="get">
        {{form.as_table}}
        <input type="submit" value="Submit">
    </form>
    <hr>
    <h1>Form using form.as_p</h1>
    <form action="" method="get">
        {{form.as_p}}
        <input type="submit" value="Submit">
    </form>
    <hr>
    <h1>Form using form.as_ul</h1>
    <form action="" method="get">
        {{form.as_ul}}
        <input type="submit" value="Submit">
    </form>
    <hr>
    <h1>Form using form.name_of_field</h1>
    <form action="" method="get">
        {{form.name}}
        {{form.email}}
        <input type="submit" value="Submit">
    </form>
    <hr>
</body>
</html>