<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>{{title}}</title>
</head>
<body>
    <h1>Course Name : {{name}}</h1>
    <h1>Fees : Rs. {{fees}}</h1>

    <br>

    <button onclick="disp()">Click Me</button>

    <br>

    <h1>Certificate using static : </h1>
    <img src="{% static 'images/django.jpg' %}" alt="DjangoCertificate">

    <br>

    <h1>Certificate using get_static_prefix : </h1>
    <img src="{% get_static_prefix %}images/django.jpg" alt="DjangoCertificate">


    <script src="{% static 'js/script.js' %}"></script>
</body>
</html>