<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Course Details</title>
    <style>
        body{
            height: 100vh;
            width: 100vw;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: aqua;
        }

        .card{
            height: 200px;
            width: 400px;
            border-radius: 10px;
            border: 1px solid black;
            background-color: aliceblue;
            padding: 10px 10px;
        }
    </style>
</head>
<body>
    <div class="card">
        <h1>Course Name : {{ name }}</h1>
        <hr>
        <p>Duration : {{ duration }} days</p>
        <p>Total Seats : {{ total_seats }} seats</p>
    </div>
</body>
</html>